<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="POST">

  <div class="input-field">
    <input id="title" name='title' type="text" class="validate" required value="{{course.title}}">
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Enter name" data-success="right"></span>
  </div>

  <div class="input-field">
    <input id="price" name='price' type="number" class="validate" required min='1' value="{{course.price}}">
    <label for="price">Course price</label>
    <span class="helper-text" data-error="Enter price" data-success="right"></span>
  </div>

  <div class="input-field">
    <input id="url" name='url' type="text" class="validate" required value="{{course.url}}">
    <label for="url">URL image</label>
    <span class="helper-text" data-error="Enter image URL" data-success="right"></span>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">

  <button class="waves-effect waves-light btn" type='submit'>Edit Course</button>

</form>
